<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.historichologram.tucsontourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LocationListActivity"
            android:label="Lists"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".LocationDetail"
            android:label="Detail"
            android:parentActivityName=".LocationListActivity" />
    </application>

</manifest>